name: Test

on:
    push:
        branches:
            - main
        tags: ["*"]
    workflow_dispatch:

jobs:
    test:
        uses: ./.github/workflows/ReusableTest.yml
        with:
            os: ${{ matrix.platform.os }}
            version: ${{ matrix.version }}
            arch: ${{ matrix.platform.arch }}
            allow_failure: ${{ matrix.allow_failure }}
            run_codecov: ${{ matrix.version == '1' && matrix.platform.os == 'ubuntu-latest' }}
        secrets:
            codecov_token: ${{ secrets.CODECOV_TOKEN }}
        strategy:
            fail-fast: false
            matrix:
                version:
                    - "lts"
                    - "1"
                platform:
                    - os: ubuntu-latest
                      arch: x64
                    - os: macOS-latest
                      arch: aarch64
                    - os: windows-latest
                      arch: x64
                allow_failure: [false]
